br
div.info
    | Connection1 speed(upload):
    br
    | KBps: 0KBps
    br
    | Mbps: 0Mbps
    br
    | MBps: 0MBps
    form(action="/",method="post")
        input(type="submit" hidden)
        button.btn.btn-blue 
            | check speed